*{
    margin: 0;
    padding: 0;
}
body{
    padding: 8vh 10vw;
}
.carrousel-contianer{
    width: 100%;
    height: 100%;
}
.carrousel-img{
    position: relative;
}
.slide{
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.slide.active{
    opacity: 1;
}

button{
    position: absolute;
    padding:  2vh 2vw;
    z-index: 2;
    top: 50%;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    color: aliceblue;
    /* display: none; */
}
#prev{

    left: 11vw;
}
#next{
    right: 11vw;
}
